<div class="wrapper wrapper-body">
<div class="inner inner-body">
    <div class="row">
        <div class="col-md-4">
            <div class="matching">
                <div class="progress">
                    <div id="matching-progress" class="progress-bar progress-bar-striped active " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                <div id="matching-container">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>トップス</h3>
            <div class="row selector selector-tops">
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
            </div>
            <h3>ボトムス</h3>
            <div class="row selector selector-bottoms">
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
                <div class="col-md-3 selector-item">
                    <div>
                        <button class="btn btn-default btn-tryon">試着する</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
