@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

body {
}

body * {
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo UI, sans-serif;
}

canvas {
    width: 100%;
    height: 100%
}

/* Override */
.navbar-default {
    background-color: transparent;
    border: none;
}

/* Helper */
.font-light {
    color: #bdc3c7 !important;
}

/* Original */
.wrapper {
    margin-bottom: 20px;
}

.wrapper-header {
    padding: 50px 0 30px;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

.body {
}

.matching {
    padding: 20px;
    border: 1px dashed #aaa;
    border-radius: 5px;
}

#matching-container {
    margin: 0;
    height: 500px;
}

.selector {
    padding-left: 0;
    margin-bottom: 20px;
    overflow: auto;
    max-height: 320px;
    border-radius: 2px;
    margin-left: 5px;
}

.selector-item {
    padding: 5px;
    width: 180px;
    height: 300px;
}

.selector-item-child {
    height: 200px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.selector-item-button {
    height: 50px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}

.btn-tryon {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.select-img {
    position: absolute;
    width: 180px;
    height: 200px;
}
